body {
  background-color: #ecf0f1;
}
body {
  color: #273c75;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #44bd32;
}

.form,
.greetings{
  display: none;
}

.showing {
  display: block;
}