body {
  background-color: #ecf0f1;
}
h1 {
  color: #273c75;
  transition: color .5s ease-in-out;
}

.btn {
  cursor: pointer;
}

.clicked {
  color: #44bd32;
}

.form,
.greetings{
  display: none;
}

.showing {
  display: block;
}